body{
    margin: 0;
    padding: 0;
}

body.header .header {
    background-image: url(../image/drew-coffman-1872.jpg);
    height: 900px;
    background-size: cover;
    
}


.oval{
    border: 1px solid white;
    border-radius: 50%;
    width: 20px ;
    height: 40px;
    margin: auto;
    padding: 5px;
    margin-top: 70px;
}

.header{
     background-color: white;
}

body.header  .header .nav{
    background-color: white;
    position: fixed;
    width: 100%;
}

.nav ul{
    margin:0;
    padding: 0;
  list-style: none;
  display: inline-block;
  margin-left:500px;
  padding-top: 3px;

}

.nav li{
    display: inline-block;
    margin-right: 10px;
    /* border-top:2px solid #8E7754; */
    padding-top:18px ;

}

.nav .logo{
    width: 15%;
    margin: 25px;
    vertical-align: middle;
    
}

ul a{
 text-decoration: none;
 padding: 8px 12px;
 font-size: 18px;
 font-family:Alegreya;
 color: #595959;
}




h3 {
    font-size: 32px;
    font-weight: bolder;
}

p {
    font-size: 20px;
}


.contain-img {
    color: white;
    text-align: center;
    font-family:Alegreya;
    font-size: 22px;
}

.contain-img p{
    font-family:"Alegreya sans";
    font-size: 22px;
}



.contain-img h1{
    font-size: 70px;
    font-family: "Alegreya sans";
}


.contain-img a{
margin-left: 20px;
border:white 2px solid;
text-decoration: none;
color: white;
padding: 10px;
}
 
.contain-img a.color{

background-color:#8E7754;
border:#8E7754 2px solid;

}

.width-img2 {
    width: 520px;

    margin-bottom: -100px;
    vertical-align: baseline;
    padding: 70px;



}

.img2,
.who {
    display: inline-block;

}

div.who p {
    line-height: 40px;

}


div.icons img {
    width: 50px;
    vertical-align: top;
    border: solid rgba(219, 218, 216, 0.582) 2px;
    border-radius: 100px;

}

.who {
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: "Alegreya sans";
}

.pragraph-location,
.img3 {
    display: inline-block;
    vertical-align: bottom;
}




.Location {
    background-color: rgb(238, 238, 238);

    width: 100%;
    
}


.pragraph-location {
    width: 45%;
 
    margin: 5%;
}

.width-img3 {
    width: 100%;
}

.img3 {
    width: 40%;
}


.Our-Backing p {
    text-align: center;
    font-family: "Alegreya Sans";
}

.Our-Backing h3 {
    text-align: center;
    font-family: "Alegreya";
    font-weight: normal;
}


.Backing {
    width: 30%;
    float: right;
    margin: 1%;
    font-family: "Alegreya Sans";

}


.clear{
clear: both;
}

.img41 {
    width: 90%;
}

.Backing p,
h4 {
    width: 90%;
    text-align: center;
}

.Backing h4 {
    font-family: "Alegreya";
    font-size: 22PX;
    font-weight: normal;
}

.information {
    width: 100%;
    background-color: #f8f8f8;
    overflow: hidden;

}

.pra-information,
.map {
    float: left;

}

.pra-information {
    width: 35%;
    margin: 5%;
    font-family: "Alegreya Sans";

}

.pra-information h2 {
    font-family: Alegreya;
    font-weight: 40px;
}



.img-information {
    width: 5%;
    border-radius: 50%;
    vertical-align: middle;


}

.map {
    width: 30%;
    margin: 5%;
}


.footer {
    width: 100%;
    background-color: #403D38;
    overflow: hidden;
    height: 550px;

}



.contact img {
    width: 10%;
}

.why li {
    border-bottom: 1px solid #969696;
    padding-bottom: 20px;
    padding-top: 20px;
    list-style: none;
    
}

.opening li {
    border-bottom: 1px solid #969696;
    padding-bottom: 20px;
    padding-top: 20px;
    list-style: none;
}

.opening img{
    width: 20px;
}
.why img{
    width: 20px;
}


.contact p {
    border-bottom: 1px solid #969696;
    padding-bottom: 20px;
    padding-top: 20px;

}


.footer h4 {
    color: white;
    font-family: Alegreya;
    font-weight: 100;
}


.about,
.why,
.opening,
.contact {
    float: left;
    font-family: "Alegreya sans";
    font-size: 16px;
    color: #969696;
}

div.about,
div.why,
div.opening,
div.contact {
    width: 18%;
    margin-left: 6%;
    vertical-align: middle;

}



.footer-logo {
    background-color: #353330;
    height: 350px;
    text-align: center;

}


.footer-logo img {
    width: 20%;
    margin: auto;
    margin-top: 8%;

}

.footer-logo a img {
    text-align: center;
    vertical-align: bottom;
}

.icon-img {
    width: 10%;
    margin: 0 auto;
    border-radius: 50%;

}

.footer-logo .foot p {
    font-family: "Alegreya Sans";
    font-size: 15px;

}

div.contact p{
    border-top:5px solid transparent ;


}